ul[id^=menu-hamb] .caret {
    display: none;
}

ul[id^=menu-hamb] > li > a {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}

#menu-secondary {
    padding-left: 0px;
    float: left;
}

ul[id^=menu-hamb] .dropdown .hamb-button {
    padding-left: 15px;
}

ul[id^=menu-hamb] .dropdown .hamb-button:hover,
ul[id^=menu-hamb] .dropdown .hamb-button:focus {
    background-color: transparent;
    border: none;
}

ul[id^=menu-hamb] .dropdown-menu li {
    float: left;
    width: auto;
    margin-bottom: 10px;
    height: 25px;
}

ul[id^=menu-hamb] .dropdown-menu .row {
    padding: 20px 0;
}

ul[id^=menu-hamb] .dropdown-menu .menu-col > a {
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding-left: 15px;
}

ul[id^=menu-hamb] .dropdown-menu .menu-col {
    clear: left;
}

ul[id^=menu-hamb] .dropdown-menu .dropdown .elementy-ul {
    float: left;
    list-style: none;
    padding-left: 20px;
}

ul[id^=menu-hamb] .dropdown-menu .dropdown .elementy-ul li {
    float: left;
    margin-right: 10px;
}

ul[id^=menu-hamb] .dropdown-menu .dropdown .elementy-ul li:after {
    content: "|";
    margin-left: 10px;
}

ul[id^=menu-hamb] .dropdown-menu .dropdown .elementy-ul li:last-child:after {
    display: none;
}

ul[id^=menu-main-menu] .dropdown-menu .menu-col > a {
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}

ul[id^=menu-main-menu] .elementy-ul {
    list-style: none;
    float: left;
    margin-left: -35px;
}

ul[id^=menu-main-menu] .elementy-ul li {
    float: left;
    margin-right: 5px;
    height: auto !important;
    text-transform: lowercase;
}

ul[id^=menu-main-menu] .elementy-ul li a {
    padding: 0px 0px !important;
}

ul[id^=menu-main-menu] .elementy-ul li:after {
    content: "|";
    margin-left: 5px;
}

ul[id^=menu-main-menu] .elementy-ul li:last-child:after {
    display: none;
}

ul[id^=menu-main-menu] .dropdown-menu li {
    float: left;
    width: auto;
    margin-bottom: 15px;
    height: 25px;
}

ul[id^=menu-main-menu] .dropdown-menu li.wpml-ls-menu-item {
    float: right;
    margin-bottom: 0px;
}

ul[id^=menu-main-menu] .dropdown-menu li a {
    line-height: 0px;
}

ul[id^=menu-main-menu] .dropdown-menu .menu-col {
    clear: left;
}

ul[id^=menu-main-menu] .dropdown-menu .row {
    padding: 15px 0;
}

.cat-prodotto {
    list-style: none;
    margin-top: 40px;
}

.cat-prodotto > li {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.cat-prodotto .children {
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
}

.cat-prodotto .children li {
    text-transform: lowercase;
    font-weight: normal;
}

.cat-prodotto li a {
    color: #a46e24;
}

.cat-prodotto .children li a {
    color: #5c5c5c;
}

.yamm .yamm-content {
    padding: 15px 10px !important;
}

.nav-search {
    width: 100%;
    z-index: initial;
}
/*@media only screen and (min-width: 768px) and (max-width: 769px) {
	.nav-search {
    width: 96%;
}
}
*/
ul[id^=menu-footer] a {
    padding-top: 0px;
    padding-bottom: 0px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #999;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    /*-webkit-border-radius: 35px;*/
    /*-moz-border-radius: 35px;*/
    /*border-radius: 35px;*/
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background-color: #666;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

ul[id^=menu-main-menu] .dropdown-menu .menu-col.social-icon {
    clear: none;
    font-size: 20px;
}

.desktop-view {
    float: left;
    width: 100%;
    margin-top: -60px;
}

.desktop-view.footer {
    margin-top: 0px;
}

.logo {
    margin-top: -50px;
}

.glyphicon:empty {
    display: none;
}