/*
Theme Name: smania-netech_fr


*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Rufina:400,700');

body, html {
    margin: 0;
    padding: 0px;
    height: 100%;
    color: #5c5c5c;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}

body.admin-bar .navbar-fixed-top {
    position: fixed;
    top: 32px;
    z-index: 1000;
    height: 40px;
}

/*header{
	margin-bottom:60px;
}*/

#primary {
    margin-top: 10px;
    margin-bottom: 40px;
}

.img_header {
    height: 240px;
    color: #a46e24;
    margin-bottom: 20px;
}

.img_header .header_text {
    position: absolute;
    bottom: 10px;
}

.header_text {
    width: 100%;
    padding-bottom: 20px;
}

.img_header h1 {
    text-transform: lowercase;
    margin: 0;
}

h1 {
    font-family: 'Rufina', serif;
    font-size: 16px;
}

.pag_prodotto h2 {
    font-family: 'Rufina', serif;
    font-size: 16px;
    color: #a46e24;
    font-weight: 600;
}

.pag_prodotto p {
    margin: 0 0 20px;
}

/* link color */
a {
    color: inherit;
}

a:focus, a:hover {
    color: #999;
    text-decoration: none;
}

/* Slider */

.swiper-button-prev.swiper-button-oro,
.swiper-container-rtl .swiper-button-next.swiper-button-oro {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23A46F25'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-oro,
.swiper-container-rtl .swiper-button-prev.swiper-button-oro {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23A46F25'%2F%3E%3C%2Fsvg%3E");
}

.swiper-container, .one_image {
}

header .swiper-container, .one_image {
    margin-top: 65px;
    height: 560px;
}

.rivenditori .swiper-container {
    margin-top: 10px;
    height: 196px;
}

.prod_gallery .swiper-container {
    height: 184px;
    max-width: 300px;
}

.swiper-slide {
    background-position: center center;
    background-size: cover;
    /*margin-bottom: 40px;*/
}

.swiper-slide .box-carousel h1 {
    margin-top: 0;
}

.swiper-slide .container {
    background: transparent;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    color: #fff;
    margin-left: 0;
}

.swiper-slide .row {
    padding-bottom: 20px;
}

.swiper-filter {
    background-color: #000;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    bottom: 0;
}

.swiper-pagination {
    position: absolute;
    text-align: right;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
    bottom: 10px;
    right: 0;
    padding-right: 20px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 0;
    background: #fff;
    opacity: .6;
    margin-left: 10px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgba(255, 255, 255, .4);
    border: 1px solid #fff;
}

/* Menus (navabar) */

.desktop-view, .blocco .desktop-visible {
    display: none;
}

.mobile-view {
    display: block;
    float: left; /*width: 78%;*/
}

.nav-search {
    /*float:right; */
    margin-left: 0px;
    z-index: 20;
    right: 0;
    top: 0;
}

.navbar {
    min-height: 65px;
    margin-bottom: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
    background-color: #fff;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-default {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    border-radius: 4px;
    filter: none;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f8f8f8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555555;
    background-color: #f8f8f8;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-nav > li > a {
    /*    padding-top: 10px;
        padding-bottom: 10px;*/
    line-height: 35px;
}

.navbar-brand {
    padding: 0 0 0 70px;
    line-height: 65px;
    width: 81%;
}

.navbar-brand img {
    height: auto;
    width: 100%;
}

/*navbar toggle */
.navbar-toggle {
    position: relative;
    float: left;
    padding: 10px 20px 10px 20px;
    margin-top: 14px;
    margin-right: 0;
    margin-bottom: 0px;
    background-color: transparent;
    border-right: 1px solid #d8d8d8 !important;
    border-radius: 0px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    /* border-radius: 1px; */
    /* line-height: 20px; */
    margin: 5px 0; /* padding: 0px; */
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

/*navbar search_btn */
.navbar-search_btn {
    position: relative;
    float: right;
    padding: 14px 25px;
    margin-top: 14px;
    margin-left: 5px;
    margin-bottom: 0px;
    background-color: transparent;
    border-left: 1px solid #d8d8d8 !important;
    border-radius: 0px;
}

.navbar-default .navbar-search_btn {
    border: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: padding-box;
}

/*pagina scheda prodotto*/

.img_prodotto {
    float: right;
    padding-right: 40px;
}

.img_prodotto img {
    width: 100%;
    height: auto;
}

/* Tabs */

#row_tab {
    padding: 0;
    background: #fff;
}

#row_tab.tab_background {
    Padding: 0;
    background: #A46E24;
}

#sez_colori .colori {
    overflow: hidden;
    border: 1px solid #A46E24;
    padding: 10px;
}

#sez_colori .titolo {
    height: 40px;
    background: #A46F25;
    margin: -10px -10px 10px;
}

#sez_colori .titolo div {
    font-family: 'Rufina', serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    padding-left: 20px;
    color: #fff;
}

#sez_colori .titolo div a {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    float: none;
    font-weight: normal;
    font-size: 24px;
}

#sez_colori .titolo span {
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    font-weight: normal;
}

#sez_materiale .finiture_grid, #sez_colori .finiture_grid, #ispiraz_finiture .finiture_grid {
    float: left;
    padding: 4px;
    min-height: 220px;
    margin-left: 2px;
}

#sez_materiale img, #sez_colori img, #ispiraz_finiture img {
    border-radius: 0;
    height: auto;
    margin: 8px 0;
}

#sez_materiale .finiture_grid img, #sez_colori .finiture_grid img, #ispiraz_finiture .finiture_grid img {
    width: 130px;
}

#sez_materiale .colori img, #sez_colori .colori img {
    width: 350px;
}

#sez_materiale h1, #sez_colori h1, #ispiraz_finiture h1 {
    font-size: 14px;
    padding-left: 4px;
    font-weight: bold;
    margin: 0;
}

#ispiraz_finiture h1 {
    margin: 10px 0 0;
}

#sez_materiale .finiture_grid p, #sez_colori .finiture_grid p, #ispiraz_finiture .finiture_grid p {
    padding-left: 4px;
    margin: 0;
}

#sez_materiale .chiuso, #sez_colori .chiuso {
    display: none;
}

#ispiraz_finiture {
    margin: 0 15px;
}

#prod_correlati {
    padding: 60px 0;
    overflow: hidden;
}

#prod_correlati img {
    width: 100%;
    height: auto;
}

#prod_correlati .swiper-button-next, #prod_correlati .swiper-button-prev {
    top: 100%;
    margin-top: 0px;
}

.preventivo, li.preventivo > a {
    color: #fff;
}

li.preventivo {
    border-bottom: 30px solid #A46E24;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0px;
    text-align: center;
}

li.mymood {
    border-bottom: 30px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0px;
    text-align: center;
}

#row_tab .nav-tabs > li > a {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-bottom-color: transparent;
    font-size: 20px;
    font-family: 'Rufina', serif;
    line-height: 14px;
    padding: 8px 30px;
}

.nav-tabs > li.preventivo > a, .nav-tabs > li.preventivo.active > a, .nav-tabs > li.preventivo.active > a:hover, .nav-tabs > li.preventivo.active > a:focus {
    color: #fff;
}

.nav-tabs > li.mymood > a, .nav-tabs > li.mymood.active > a, .nav-tabs > li.mymood.active > a:hover, .nav-tabs > li.mymood.active > a:focus {
    color: #A46E24;
}

.prod-tabs > li > a:hover, .prod-tabs > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    border: 0;
    color: #ccc;
    cursor: pointer;
}

/* Form */
.form_input_w {
    width: 100%;
}

/* Grid */
.grid-tit {
    color: #a46e24;
    text-transform: uppercase;
    text-align: center;
}

.item-grid img {
    width: 100%;
    height: auto;
}

.background_row_1 {
    background-color: #f4ece0;
}

/* Social */
ul.social_share {
    padding: 0;
}

.social_share li {
    display: inline-block;
    padding-right: 3px;
    color: inherit;
    font-size: inherit;
}

ul.blog-list {
    padding: 0;
}

.blog-list li {
    display: inline-block;
    padding-right: 10px;
    color: inherit;
    font-size: inherit;
}

.blog-list li a {
    text-transform: uppercase;
    /*    color: #fff;
        font-size:18px;
    */
}

.blog-list li a:hover {
    opacity: .7;
    /*color:#fff;*/
}

.blog-list.share li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
}

.blog-list.share li a:hover {
    opacity: .7;
    color: #fff;
}

.blog-list.blog-category li {
    padding-right: 20px;
}

/* Breadcrumbs */

.breadcrumb {
    padding: 40px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #a56a4c;
}

.breadcrumb ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
    margin-right: 4px;
}

.breadcrumb li:last-child {
    color: #a56a4c;
}

.breadcrumb_last {
    color: #a56a4c;
}

.breadcrumb li img {
    width: 70%;
}

/* Modelli layout (blocchi griglia) */

.blocco img, .img_prodotto img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    transition: .3s ease-in-out;
}

.blocco a:hover img, .img_prodotto a:hover img {
    -webkit-transform: rotate(2deg) scale(1.1);
    transform: /*rotate(2deg)*/ scale(1.05);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.blocco a:hover {
    opacity: .8;
    transition: .3s ease-in-out;
}

.blocco .img_small_down, blocco .img_small_left, .blocco .img_overflow_hidden {
    overflow: hidden;
}

.blocco .txt_container {
    display: table;
    height: 100px;
    width: 100%;
    table-layout: fixed;
}

.blocco .col-xs-3, .blocco .col-xs-6, .blocco .col-xs-9, .blocco .col-xs-12, .blocco .col-sm-3, .blocco .col-sm-6, .blocco .col-sm-9, .blocco .col-md-3, .blocco .col-md-6, .blocco .col-md-9 {
    padding: 0 5px;
}

.blocco.materiale .col-xs-3, .blocco.materiale .col-xs-6, .blocco.materiale .col-xs-9, .blocco.materiale .col-xs-12, .blocco.materiale .col-sm-3, .blocco.materiale .col-sm-6, .blocco.materiale .col-sm-9, .blocco.materiale .col-md-3, .blocco.materiale .col-md-6, .blocco.materiale .col-md-9 {
    padding: 5px 5px;
}

.blocco h1 {
    margin-top: 0;
}

.blocco p {
    margin: 0;
}

.blocco.home, .blocco.materiali {
    max-height: 340px;
    overflow: hidden;
}

.blocco .txt {
    padding: 0px 10px;
    font-size: 12px;
    vertical-align: middle;
    display: table-cell;
}

.blocco img {
    width: 100%;
    height: auto;
}

.blocco .row {
    padding: 0;
    margin-top: 10px;
}

/* home page */

.blocco .img_small_down, blocco .img_small_left {
    margin-top: 10px;
}

.blocco .txt1_h {
    height: 177px;
}

.blocco.home .txt2_h, .blocco.materiali .txt2_h {
    height: 340px;
    /*display:block;
    overflow:auto;*/
}

.blocco.home .txt3_h, .blocco.materiali .txt3_h {
    height: 130px;
}

.blocco.home .img_big_orizzontal {
    max-height: 120px /*309px*/;
    overflow: hidden;
}

.blocco.materiali .img_big_orizzontal {
    max-height: 190px;
    overflow: hidden;
}

.blocco .img_big_vertical {
    max-height: 587px;
    overflow: hidden;
}

.blocco.home .img_big_vertical, .blocco.materiali .img_big_vertical {
    max-height: 587px;
    overflow: hidden;
}

.blocco.home .img_big_vertical img, .blocco.materiali .img_big_vertical img {
    height: 330px;
    width: auto;

}

.blocco.home .img_small_left, .blocco.materiali .img_small_left {

    overflow: hidden;
}

.blocco.home .img_small_left img, .blocco.materiali .img_small_left img {
    height: 130px;
    width: auto;

}

/* home */
/*.blocco.home .txt {
	width:560px;
}*/

/* azienda */
.blocco.azienda .txt1_h {
    height: 178px;
    padding: 0px 20px;
}

/* azienda-pensiero */
.blocco.pensiero .txt1_h {
    height: 177px;
    width: 545px;
}

.blocco.pensiero .txt2_h, .blocco.mymood .txt2_h {
    height: 300px;
}

/* azienda-storia */
.blocco.storia .txt1_h {
    height: 412px;
}

.blocco.storia .swiper-container-horizontal > .swiper-pagination-bullets, .blocco.storia .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
}

/* azienda-luce ai pensieri */
.blocco.luce .txt1_h {
    height: 240px;
}

.blocco.luce .txt2_h {
    height: 300px;
}

/* myMood */
.blocco.mymood {
    max-height: 100%;
}

.blocco.mymood .txt1_h {
    height: 309px;
}

/* ispirazioni */
.blocco.ispirazioni .txt1_h {
    height: 176px;
}

.blocco.ispirazioni .swiper-container {
    /*height: 620px;*/
    margin-top: 0;
}

/* realizzazioni / designer */
.blocco.realizzazioni .swiper-container, .blocco.designer .swiper-container {
    /* height: 310px;*/
}

.blocco.realizzazioni .txt1_h, .blocco.designer .txt1_h {
    height: 310px;
}

/* Pagina materiale (single)*/
.blocco.materiale .txt1_h {
    display: block;
    overflow: auto;
    padding: 10px;
}

/* Ispirazioni */
.ispirazioni .grid-tit {
    color: #fff;
    text-transform: none;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 43%;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: .5s ease;
}

.ispirazioni:hover .grid-tit {
    opacity: 1;
}

.ispirazioni:hover .filter {
    opacity: .6;
}

.ispirazioni .filter {
    position: absolute;
    z-index: 90;
    top: 0;
    width: 99%;
    height: 98%;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}

/* Single */
.single_btn_prod {
    background-color: #a46e24;
    margin-top: 10px;
}

.single_btn_prod ul.blog-list {
    color: #fff;
    padding: 25px 0 10px 0;
    text-align: center;
}

.single_share {
    background-color: #a46e24;
    margin-top: 10px;
}

.single_share ul.blog-list {
    color: #fff;
    padding: 25px 0 10px;
    text-align: center;
}

/* Comments */
#comments {
    margin-top: 40px;
}

#comments h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
}

ol.commentlist {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    text-indent: 0;
}

ol.commentlist li.comment {
    border-top: 1px solid #eee;
    padding: 1em;
}

ol.commentlist li.comment div.vcard cite.fn {
    text-transform: uppercase;
    font-size: 14px
}

ol.commentlist li.comment div.vcard img.avatar {
    float: left;
    margin: 6px 1em 1em 0;
    border-radius: 50px;
}

ol.commentlist li.comment div.comment-meta {
    font-size: 12px;
}

ol.commentlist li.comment ul {
    margin: 0 0 1em 2em;
}

ol.commentlist li.comment div.reply {
    font-size: 11px;
    margin-left: 80px
}

ol.commentlist li.comment div.reply a {
    font-weight: bold;
}

ol.commentlist li.comment ul.children {
    list-style: none;
    margin: 1em 0 0;
    text-indent: 0;
}

ol.commentlist li.comment ul.children li.depth-2 {
    border-left: 1px solid #eee;
    margin: 0 0 .25em .25em;
}

ol.commentlist li.comment ul.children li.depth-3 {
    border-left: 1px solid #eee;
    margin: 0 0 .25em .25em;
}

ol.commentlist li.comment ul.children li.depth-4 {
    border-left: 1px solid #eee;
    margin: 0 0 .25em .25em;
}

ol.commentlist li.even {
    background: #fff;
}

ol.commentlist li.odd { /*background:#f9f9f9;*/
}

ol.commentlist li.parent {
    border-left: 1px solid #eee;
}

ol.commentlist li.bypostauthor .fn {
    font-weight: bold;
}

input {
    margin-right: 10px;
    padding: 10px;
    border: none;
    background: #eee;
}

textarea {
    float: left;
    padding: 10px;
    width: 100%;
    border: none;
    background: #fff;
}

#submit {
    margin-top: 10px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
}

ol.commentlist img {
    width: auto;
}

/* Video Resposnive */
.videoWrapper {
    position: relative;
    margin-bottom: 70px;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.link-video {
    position: relative;
}

.link-video i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -25px;
    background: url(img/circle-white.png) no-repeat center center;
}

/* Gallery */
.gallery {
    margin: 0 0 10px 0 !important;
}

.gallery-item {
    float: left;
    margin: 0 !important;
    width: 33.333333%;
    text-align: center;
}

.gallery img {
    margin: 5% !important;
    width: 90% !important;
    border: none !important;
}

.gallery-caption {
    margin-left: 0;
}

/* blog sidebar - prod sidebar*/

#blog_sidebar h4, #prod_sidebar h4 {
    text-transform: uppercase;
    color: #A46F25;
    font-family: inherit;
}

#blog_sidebar a {
    color: inherit;
}

#blog_sidebar a:hover {
    color: #a46e24;
}

#blog_sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

#prod_sidebar li {
    text-transform: none;
    font-weight: normal;
    margin-bottom: 4px;
}

#prod_sidebar li label {
    margin-right: 10px;
    margin-bottom: -3px;
}

/* Primary Sidebar */
.sidebar {
    float: left;
}

.sidebar .widget {
    padding: 10px 10px 20px 10px;
}

.sidebar .widget h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.sidebar .widget a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.sidebar .widget ul {
    padding: 0;
    list-style-type: none;
}

.sidebar .widget ul li a {
    padding-left: 0;
}

.sidebar .social {
    float: left;
    margin: 20px 0 30px 0;
    width: 100%;
}

.sidebar .social a {
    display: block;
    float: left;
    padding: 10px;
}

/* Tab */
.sidebar #myTab {
    margin-top: 20px;
}

.tab-spacer {
    padding: 0 10px 0 10px;
}

.tab-content {
    float: left;
    margin: 10px 0 60px 0;
    width: 100%;
}

.tab-content a {
    float: left;
    padding: 10px 0 0 0;
    min-height: 75px;
    width: 100%;
    border-bottom: 1px solid #f0efef;
    text-decoration: none;
}

.tab-content a:last-child {
    border: none;
}

.tab-content img {
    float: left;
    margin: 0 20px 10px 10px;
    padding: 0;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
}

.tab-content .title {
    margin: 5px 0 0 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

/* Secondary Sidebar */
.sec-sidebar {
    float: right;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sec-sidebar .widget {
    padding: 10px 10px 20px 10px;
}

.sec-sidebar .widget a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.sec-sidebar .widget h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.sec-sidebar .widget ul {
    padding: 0;
    list-style-type: none;
}

.sec-sidebar .widget ul li a {
    padding-left: 0;
}

/* Footer */
.footer {
    float: left;
    padding: 20px 0;
    width: 100%;
    margin-top: 10px;
}

.footer span {
    text-transform: uppercase;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer img {
    max-width: 100%;
    height: auto;
}

.footer .social li {
    display: inline-block;
    padding-left: .5em;
    font-size: 16px;
}

/* Contatti */
.contatti ul {
    padding: 0;
}

.contatti .social li {
    display: inline-block;
    padding-left: .5em;
    font-size: 16px;
}

.contatti strong {
    color: #a56a4c;
}

.contatti input, .contatti textarea {
    margin-right: 10px;
    padding: 10px;
    background: transparent;
    border: 1px solid #a49381;
}

.contatti input[type="submit"] {
    background: #a49381;
    color: #fff;
    border: none;
}

/* General */
.row {
    margin: 0;
    padding: 40px 0;
}

.panel {
    background: #fff;
    box-shadow: none;
}

.sticky {
    border-right: 3px solid #eee;
    border-bottom: 3px solid #eee
}

.wp-caption {
    border: 1px solid #eee;
    text-align: center;
    padding: 10px;
}

.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
    width: 100% !important;
    height: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 1em;
    line-height: 17px;
    padding: 8px;
    margin: 0;
}

/* only in home caption full width */
.cont-grid .wp-caption {
    max-width: 100%;
    width: 100% !important;
    height: auto;
}

.alignleft {
    float: left;
    margin-right: 20px;
}

.alignright {
    float: right;
    margin-left: 20px;
}

.aligncenter {
    margin: 0 auto;
    display: block
}

#s {
    width: 100%
}

#searchsubmit {
    background-color: #333;
    color: #fff
}

/* Search */
.result {
    margin-left: 5px;
    text-transform: uppercase;
}

#srch-term {
    border: none;
    background: none;
    box-shadow: none;
}

.search-cont {
    padding: 0;
}

.btn-default {
    border: none;
    background: none;
}

/* Newsletter submit (malchimp) */
#mc_embed_signup_smania {
    padding-top: 50px;
    margin-left: 50px;
}

#mc_embed_signup_smania input.email {
    font-size: 15px;
    border: none;
    color: rgb(164, 110, 36);
    background-color: rgba(164, 110, 36, .3);
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 70% /*350px*/;
    vertical-align: top;
    text-align: center;

}

#mc_embed_signup_smania .button {
    font-size: 60px;
    border: none;
    letter-spacing: .03em;
    color: #A46E24;
    background-color: transparent;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    padding: 0 18px;
    display: inline-block;
    margin-top: -15px;
    transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup_smania .clear {
    display: inline-block;
}

#mc-embedded-subscribe.swiper-button-next {
    margin: 0;
    right: 15%;
    top: 35px;
}

/**************************
Media Query Breakpoints
***************************/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 374px) {
    .navbar-brand {
        width: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .mobile-view {
        width: 100%;
    }

    .blocco .txt {
        padding: 10px 20px;
        font-size: 14px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-header {
        float: none;
    }

    /*.desktop-view, .blocco .desktop-visible {
        display: block;
    }

    .desktop-view .navbar-collapse.collapse {
        display: none !important;
    }

    .desktop-main-menu {
        padding-right: 70px;
    }

    .desktop-main-menu li a {
        padding-left: 10px;
        padding-right: 7px;
    }

    .mobile-view {
        display: none;
    }

    .navbar-brand {
        padding: 0 20px 0 0;
        line-height: 65px;
    }*/
    .swiper-slide .container {
        background: transparent;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: -375px;
        color: #fff;
        margin-left: 50%;
    }

    h1 {
        font-size: 26px;
    }

    .navbar-toggle {
        display: block;
    }

    /* Form */
    .form-left {
        padding-left: 0;
    }

    .form-right {
        padding-right: 0;
    }

    /* Modelli layout (blocchi griglia) */
    /* home page */
    .blocco.home, .blocco.materiali {
        max-height: 510px;
        overflow: hidden;
    }

    .blocco .img_big_vertical {
        max-height: 587px;
        overflow: hidden;
    }

    .blocco.home .img_big_orizzontal, .blocco.materiali .img_big_orizzontal {
        max-height: 310px;
        overflow: hidden;
    }

    .blocco.home .img_small_left img, .blocco.materiali .img_small_left img {
        height: auto;
        width: 100%;
    }

    .blocco.home .txt2_h, .blocco.materiali .txt2_h {
        height: 500px;
        display: table-cell;

    }

    .blocco.home .txt3_h, .blocco.materiali .txt3_h {
        height: 180px;
    }

    .blocco .txt2_h {
        height: 587px;
    }

    .blocco .txt3_h {
        height: 227px;
    }

    .blocco.home .img_big_vertical img, .blocco.materiali .img_big_vertical img {
        height: auto;
        width: 100%;
    }

    /* azienda */
    .blocco.azienda .txt1_h {
        height: 108px;
        padding: 0px 20px;
    }

    /* blocco pensiero */
    .blocco.pensiero {
        max-height: 310px;
        overflow: hidden;
    }

    .blocco.pensiero .txt2_h, .blocco.mymood .txt2_h {
        height: 184px;
        display: block;
        overflow: auto;
    }

    /* azienda - storia */
    .blocco.storia .txt1_h {
        height: 242px;
        display: block;
        overflow: auto;
    }

    /* azienda - luce ai dettagli */
    .blocco.luce .txt1_h {
        height: 300px;
    }

    /* single ispirazione */
    .blocco.ispirazioni .txt1_h {
        height: 106px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .blocco.materiale .col-xs-3, .blocco.materiale .col-xs-6, .blocco.materiale .col-xs-9, .blocco.materiale .col-xs-12, .blocco.materiale .col-sm-3, .blocco.materiale .col-sm-6, .blocco.materiale .col-sm-9, .blocco.materiale .col-md-3, .blocco.materiale .col-md-6, .blocco.materiale .col-md-9 {
        padding: 0 5px;
    }

    .navbar-header {
        float: left;
    }

    .navbar-nav > li {
        float: left;
    }

    .desktop-view, .blocco .desktop-visible {
        display: block;
    }

    .desktop-view .navbar-collapse.collapse {
        display: none !important;
    }

    .desktop-main-menu {
        padding-right: 70px;
    }

    .desktop-main-menu li a {
        padding-left: 10px;
        padding-right: 7px;
    }

    .mobile-view {
        display: none;
    }

    .navbar-brand {
        padding: 0 20px 0 0;
        line-height: 65px;
    }

    /* Modelli layout (blocchi griglia) */
    .desktop-main-menu {
        padding-right: 80px;
    }

    .desktop-main-menu li a {
        padding: 10px 15px;
        line-height: 45px;
    }

    /* home page */
    .swiper-slide .container {
        background: transparent;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: -485px;
        color: #fff;
        margin-left: 50%;
    }

    /* home */
    .blocco.home .txt1_h, .blocco.materiali .txt1_h {
        height: 143px;
    }

    .blocco.home .txt3_h, .blocco.materiali .txt3_h {
        height: 146px;
    }

    .blocco.home .img_big_orizzontal, .blocco.materiali .img_big_orizzontal {
        max-height: 254px;
        overflow: hidden;
    }

    .blocco.home .txt2_h, .blocco.materiali .txt2_h {
        height: 410px;
    }

    .blocco.home, .blocco.materiali {
        max-height: 420px;
    }

    /* azienda */
    .blocco.azienda .txt1_h {
        height: 145px;
        padding: 0px 70px;
    }

    /* azienda- pensiero */
    .blocco.pensiero {
        max-height: 410px;
    }

    .blocco.pensiero .txt2_h, .blocco.mymood .txt2_h {
        height: 246px;
    }

    /* azienda - storia */
    .blocco.storia .txt1_h {
        height: 222px;
    }

    /* azienda - luce ai dettagli */
    .blocco.luce .txt1_h {
        height: 400px;
    }

    .blocco.luce .txt2_h {
        height: 249px;
        display: table-cell;
    }

    /* my mood */
    .blocco.mymood {
        max-height: 410px;
    }

    .blocco.mymood .txt1_h {
        height: 250px;
    }

    /* single ispirazione */
    .blocco.ispirazioni .txt1_h {
        height: 143px;
    }

    /* designer */
    .blocco.designer .txt1_h {
        height: 404px;
        display: block;
        overflow: auto;
    }

    /* realizzazioni */
    .blocco.realizzazioni .txt1_h {
        height: 404px;
        /*display: block;
        overflow: auto;*/
    }

    /* pagina materiale */
    .blocco.materiale {
        /*max-height: 409px;*/
        overflow: hidden;
    }

    .blocco.materiale .txt1_h {
        height: 399px;
    }

    .blocco.materiale .txt1_h {
        display: table-cell;
    }

    /* Single */
    .single_btn_prod {
        margin-top: 10px;
        border-left: 5px solid #fff;
        background-image: url('img/btn_prodotti_blog.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 20px;
    }

    .single_btn_prod ul.blog-list {
        padding: 25px 70px 10px 0;
    }

    .single_share {
        border-right: 5px solid #fff;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    /* Modelli layout (blocchi griglia) */
    .swiper-slide .container {
        background: transparent;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: -585px;
        color: #fff;
        margin-left: 50%;
    }

    .blocco .col-xs-6, .blocco .col-xs-12 {
        padding: 0 5px;
    }

    .blocco h1 {
        margin-top: 0;
    }

    .blocco .txt {
        padding: 10px 20px;
    }

    .blocco .img_small_down, blocco .img_small_left {
        margin-top: 10px;
    }

    .blocco img {
        width: 100%;
        height: auto;
    }

    /* home */
    .blocco.home {
        max-height: 511px;
    }

    .blocco.materiali {
        max-height: 508px;
    }

    .blocco.home .txt1_h, .blocco.materiali .txt1_h {
        height: 177px;
    }

    .blocco.home .txt2_h, .blocco.materiali .txt2_h {
        height: 501px;
    }

    .blocco.home .txt3_h, .blocco.materiali .txt3_h {
        height: 182px;
    }

    .blocco.home .img_big_orizzontal, .blocco.materiali .img_big_orizzontal {
        max-height: 309px;
        overflow: hidden;
    }

    /* azienda */
    .blocco.azienda .txt1_h {
        height: 178px;
    }

    /* azienda - pensiero*/
    .blocco.pensiero {
        max-height: 510px;
    }

    .blocco.pensiero .txt2_h, .blocco.mymood .txt2_h {
        height: 300px;
        display: table-cell;
    }

    /* azienda - storia */
    .blocco.storia .txt1_h {
        height: 412px;
        display: table-cell;
    }

    /* azienda-luce_dettagli */
    .blocco.luce .txt1_h {
        height: 491px;
    }

    .blocco.luce .txt2_h {
        height: 304px;
    }

    /* my mood */
    .blocco.mymood {
        max-height: 501px;
    }

    .blocco.mymood .txt1_h {
        height: 309px;
    }

    /* single ispirazione */
    .blocco.ispirazioni .txt1_h {
        height: 176px;
    }

    /* designer */
    .blocco.realizzazioni .swiper-container, .blocco.designer .swiper-container, .blocco.realizzazioni .txt1_h, .blocco.designer .txt1_h {
        height: 494px;
    }

    .blocco.designer .txt1_h {
        display: table-cell;
    }

    /* pagina materiale */
    .blocco.materiale {
        /*max-height: 496px;*/
        overflow: hidden;
    }

    .blocco.materiale .txt1_h {
        height: 486px;
    }

}

/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -ms-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* Clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

.single-post a,
.single-post a:hover {
    color: #a46e24;
    cursor: pointer;
}

#blog-posts a:hover {
    color: white !important;
}

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */

.item-grid {
    min-height: 170px;
    /* height: 160px; */
}

.realizzazione .titolo {
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.realizzazione .testo {
    width: 100%;
}

.realizzazione .txt {
    display: block;
}

.realizzazione .blocco-testo {
    padding: 20px;
    margin-bottom: 10px;
}

.realizzazione .blocco-slider {
    padding: 0px;
}

/* AREA RISERVATA */

.area-ris .nav-pills > li {
    margin: 20px 20px 20px 0;
}

.area-ris .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #f4ece1;
    border-radius: 0;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #a46e24;
    font-weight: bold;
}

.area-ris .nav-pills > li > a {
    background-color: transparent;
    border: 2px solid #f4ece1;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #a46e24;
    font-weight: bold;
}

.area-ris .nav-pills > li > a:hover {
    background-color: #f4ece1;
}

.area-ris .panel-group {
    border: none;
}

.area-ris .panel-group .panel {
    border: 1px solid #a49381;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 0;
}

.area-ris .tab-content a {
    float: left;
    padding: 3px 20px;
    min-height: auto;
    width: 100%;
    border-bottom: 1px solid #f0efef;
    text-decoration: none;
    background-color: #fff;
    height: 43px;
}

.area-ris .panel-title a {
    background-image: url(img/select.png);
    background-repeat: no-repeat;
    background-position: right;

}

.area-ris .panel-title a.active {
    background-image: url(img/select_open.png);
}

.area-ris h5, .area-ris .h5 {
    font-size: 15px;
    text-transform: uppercase;
}

.area-ris .panel-body {
    padding: 65px 0;
    background: #f4ece1;
}

.area-ris a.download-btn {
    background-color: #a49381;
    color: white;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    float: right;
    margin-top: -10px;
    margin-right: 40px;
    line-height: 36px;
}

.area-ris a:hover.download-btn {
    background-color: #fff;
    color: #a49381;
}

.area-ris .welcome_txt {
    padding: 40px 0;
}

form[name=registerform] .tml-user-login-wrap,
form#your-profile .tml-user-login-wrap{
    display: none;
}

.success-msg {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #a46e24;
}