/*
Theme Name: smania-netech_fr


*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Rufina:400,700');

body, html {
    margin: 0;
    padding: 0px;
    height: 100%;
    color: #5c5c5c;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}

body.admin-bar .navbar-fixed-top {
    position: fixed;
    top: 32px;
    z-index: 1000;
    height: 40px;
}

/*header{
	margin-bottom:60px;
}*/

#primary {
    margin-top: 10px;
    margin-bottom: 40px;
}

.img_header {
    height: 240px;
    color: #a46e24;
    margin-bottom: 20px;
}

.img_header .header_text {
    position: absolute;
    bottom: 10px;
}

.header_text {
    width: 100%;
    padding-bottom: 20px;
}

.img_header h1 {
    text-transform: lowercase;
    margin: 0;
}

h1 {
    font-family: 'Rufina', serif;
    font-size: 18px;
}

.pag_prodotto h2 {
    font-family: 'Rufina', serif;
    font-size: 18px;
    color: #a46e24;
    font-weight: 600;
}

.pag_prodotto p {
    margin: 0 0 20px;
}

/* link color */
a {
    color: inherit;
}

a:focus, a:hover {
    color: #999;
    text-decoration: none;
}

/* Slider */
.swiper-container, .one_image {
    margin-top: 65px;
    height: 270px;
}

.prod_gallery .swiper-container {
    height: 184px;
    max-width: 300px;
}

/*.swiper-container-prod {
    height: 184px;
    width: 300px;
    overflow: hidden;
}

.swiper-container-storia {
    height: 428px;
    width: 545px;
    overflow: hidden;
}*/

.swiper-slide {
    background-position: center center;
    background-size: cover;
    margin-bottom: 40px;
}

.swiper-slide .box-carousel h1 {
    margin-top: 0;
}

.swiper-slide .container {
    background: transparent;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    color: #fff;
    margin-left: 0;
}

.swiper-slide .row {
    padding-bottom: 0px;
}

.swiper-filter {
    background-color: #000;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    bottom: 0;
}

.swiper-pagination {
    position: absolute;
    text-align: right;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
    bottom: 10px;
    right: 0;
    padding-right: 20px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 0;
    background: #fff;
    opacity: .6;
    margin-left: 10px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgba(255, 255, 255, .4);
    border: 1px solid #fff;
}

/* Menus (navabar) */

.desktop-view {
    display: none;
}

.mobile-view {
    display: block;
    float: left;
    /*width: 78%;*/
}

.nav-search {
    /*float:right; */
    margin-left: 0px;
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
}

.navbar {
    min-height: 65px;
    margin-bottom: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
    background-color: #fff;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-default {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    border-radius: 4px;
    filter: none;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f8f8f8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555555;
    background-color: #f8f8f8;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-nav > li > a {
    /*    padding-top: 10px;
        padding-bottom: 10px;*/
    line-height: 35px;
}

.navbar-brand {
    padding: 0 0 0 70px;
    line-height: 65px;
    width: 81%;
}

.navbar-brand img {
    height: auto;
    width: 100%;
}

/*navbar toggle */
.navbar-toggle {
    position: relative;
    float: left;
    padding: 10px 20px 10px 20px;
    margin-top: 14px;
    margin-right: 0;
    margin-bottom: 0px;
    background-color: transparent;
    border-right: 1px solid #d8d8d8 !important;
    border-radius: 0px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    /* border-radius: 1px; */
    /* line-height: 20px; */
    margin: 5px 0;
    /* padding: 0px; */
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

/*navbar search_btn */
.navbar-search_btn {
    position: relative;
    float: right;
    padding: 14px 25px;
    margin-top: 14px;
    margin-left: 5px;
    margin-bottom: 0px;
    background-color: transparent;
    border-left: 1px solid #d8d8d8 !important;
    border-radius: 0px;
}

.navbar-default .navbar-search_btn {
    border: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: padding-box;
}

/* Tabs */
.preventivo, li.preventivo > a {
    color: #fff;
}

li.preventivo {
    border-bottom: 30px solid #A46E24;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0px;
    text-align: center;
}

li.mymood {
    border-bottom: 30px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0px;
    text-align: center;
}

.nav-tabs > li.preventivo.active > a, .nav-tabs > li.preventivo.active > a:hover, .nav-tabs > li.preventivo.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: transparent;
    border: 1px solid #A46E24;
    border-bottom-color: transparent;
    font-size: 22px;
    font-family: 'Rufina', serif;
    line-height: 14px;
    padding: 10px 30px;
}

.nav-tabs > li.mymood.active > a, .nav-tabs > li.mymood.active > a:hover, .nav-tabs > li.mymood.active > a:focus {
    color: #A46E24;
    cursor: default;
    background-color: transparent;
    border: 1px solid #A46E24;
    border-bottom-color: transparent;
}

.prod-tabs > li > a:hover, .prod-tabs > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    color: #ccc;
    cursor: pointer;
}

/* Form */
.form_input_w {
    width: 100%;
}

/* Grid */
.grid-tit {
    color: #a46e24;
    text-transform: uppercase;
    text-align: center;
}

.item-grid img {
    width: 100%;
    height: auto;
}

.background_row_1 {
    background-color: #f4ece0;
}

/* Social */
ul.social_share {
    padding: 0;
}

.social_share li {
    display: inline-block;
    padding-right: 3px;
    color: inherit;
    font-size: inherit;
}

/*.social_share li a{
	color:inherit;
}*/

/* Breadcrumbs */

.breadcrumb {
    padding: 40px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #a56a4c;
}

.breadcrumb ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
    margin-right: 4px;
}

.breadcrumb li:last-child {
    color: #a56a4c;
}

.breadcrumb_last {
    color: #a56a4c;
}

.breadcrumb li img {
    width: 70%;
}

/* Modelli layout (blocchi griglia) */

.blocco {
    padding: 5px 0 0 0;
    overflow: hidden;
}

.blocco .txt_container {
    display: table;
    height: 100px;
    width: 100%;
    table-layout: fixed;
}

.blocco .col-xs-3, .blocco .col-xs-6, .blocco .col-xs-9, .blocco .col-xs-12 {
    padding: 0 3px;
}

.blocco h1 {
    margin-top: 0;
}

.blocco p {
    margin: 0;
    line-height: 14px;
}

.blocco.home {
    overflow: hidden;
    max-height: 258px;
}

.blocco .txt {
    padding: 10px 20px;
    vertical-align: middle;
    display: table-cell;
}

.blocco img {
    width: 100%;
    height: auto;
}

.blocco .row {
    padding: 0;
    margin-top: 10px;
}

/* home page */
.blocco .img_small_down, blocco .img_small_left {
    margin-top: 10px;
}

.blocco .img_small_down, blocco .img_small_left {
    margin-top: 5px;
}

.blocco .txt1_h {
    height: 177px;
}

.blocco .txt2_h {
    height: 253px;
}

.blocco .txt3_h {
    height: 100px;
}

.blocco .img_big_orizzontal {
    max-height: 120px;
    overflow: hidden;
}

.blocco .img_big_vertical {
    max-height: 587px;
    overflow: hidden;
}

/* home */
/*.blocco.home .txt {
	width:560px;
}*/

/* azienda */
.blocco.azienda .txt1_h {
    height: 178px;
    padding: 0px 70px;
}

/* azienda-pensiero */
.blocco.pensiero .txt1_h {
    height: 177px;
    width: 545px;
}

.blocco.pensiero .txt2_h, .blocco.mymood .txt2_h {
    height: 300px;
}

/* azienda-luce_dettagli */
.blocco.luce .txt1_h {
    height: 491px;
}

.blocco.luce .txt2_h {
    height: 304px;
}

/* azienda-storia */
.blocco.storia .txt1_h {
    height: 412px;
}

.blocco.storia .swiper-container-horizontal > .swiper-pagination-bullets, .blocco.storia .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
}

/* myMood */
.blocco.mymood .txt1_h {
    height: 309px;
}

/* ispirazioni */
.blocco.ispirazioni .txt1_h {
    height: 176px;
}

/* realizzazioni / designer */
.blocco.realizzazioni .swiper-container, .blocco.designer .swiper-container, .blocco.realizzazioni .txt1_h, .blocco.designer .txt1_h {
    height: 494px;
}

/* Ispirazioni */
.ispirazioni .grid-tit {
    color: #fff;
    text-transform: none;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 43%;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: .5s ease;
}

.ispirazioni:hover .grid-tit {
    opacity: 1;
}

.ispirazioni:hover .filter {
    opacity: .6;
}

.ispirazioni .filter {
    position: absolute;
    z-index: 90;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}

/* Single */

/* Comments */
#comments {
    margin-top: 40px;
}

#comments h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
}

ol.commentlist {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    text-indent: 0;
}

ol.commentlist li.comment {
    border-top: 1px solid #eee;
    padding: 1em;
}

ol.commentlist li.comment div.vcard cite.fn {
    text-transform: uppercase;
    font-size: 14px
}

ol.commentlist li.comment div.vcard img.avatar {
    float: left;
    margin: 6px 1em 1em 0;
    border-radius: 50px;
}

ol.commentlist li.comment div.comment-meta {
    font-size: 12px;
}

ol.commentlist li.comment ul {
    margin: 0 0 1em 2em;
}

ol.commentlist li.comment div.reply {
    font-size: 11px;
    margin-left: 80px
}

ol.commentlist li.comment div.reply a {
    font-weight: bold;
}

ol.commentlist li.comment ul.children {
    list-style: none;
    margin: 1em 0 0;
    text-indent: 0;
}

ol.commentlist li.comment ul.children li.depth-2 {
    border-left: 1px solid #eee;
    margin: 0 0 .25em .25em;
}

ol.commentlist li.comment ul.children li.depth-3 {
    border-left: 1px solid #eee;
    margin: 0 0 .25em .25em;
}

ol.commentlist li.comment ul.children li.depth-4 {
    border-left: 1px solid #eee;
    margin: 0 0 .25em .25em;
}

ol.commentlist li.even {
    background: #fff;
}

ol.commentlist li.odd { /*background:#f9f9f9;*/
}

ol.commentlist li.parent {
    border-left: 1px solid #eee;
}

ol.commentlist li.bypostauthor .fn {
    font-weight: bold;
}

input {
    margin-right: 10px;
    padding: 10px;
    border: none;
    background: #eee;
}

textarea {
    float: left;
    padding: 10px;
    width: 100%;
    border: none;
    background: #fff;
}

#submit {
    margin-top: 10px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
}

ol.commentlist img {
    width: auto;
}

/* Video Resposnive */
.videoWrapper {
    position: relative;
    margin-bottom: 70px;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.link-video {
    position: relative;
}

.link-video i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -25px;
    background: url(img/circle-white.png) no-repeat center center;
}

/* Gallery */
.gallery {
    margin: 0 0 10px 0 !important;
}

.gallery-item {
    float: left;
    margin: 0 !important;
    width: 33.333333%;
    text-align: center;
}

.gallery img {
    margin: 5% !important;
    width: 90% !important;
    border: none !important;
}

.gallery-caption {
    margin-left: 0;
}

/* Primary Sidebar */
.sidebar {
    float: left;
}

.sidebar .widget {
    padding: 10px 10px 20px 10px;
}

.sidebar .widget h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.sidebar .widget a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.sidebar .widget ul {
    padding: 0;
    list-style-type: none;
}

.sidebar .widget ul li a {
    padding-left: 0;
}

.sidebar .social {
    float: left;
    margin: 20px 0 30px 0;
    width: 100%;
}

.sidebar .social a {
    display: block;
    float: left;
    padding: 10px;
}

/* Tab */
.sidebar #myTab {
    margin-top: 20px;
}

.tab-spacer {
    padding: 0 10px 0 10px;
}

.tab-content {
    float: left;
    margin: 10px 0 60px 0;
    width: 100%;
}

.tab-content a {
    float: left;
    padding: 10px 0 0 0;
    min-height: 75px;
    width: 100%;
    border-bottom: 1px solid #f0efef;
    text-decoration: none;
}

.tab-content a:last-child {
    border: none;
}

.tab-content img {
    float: left;
    margin: 0 20px 10px 10px;
    padding: 0;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
}

.tab-content .title {
    margin: 5px 0 0 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

/* Secondary Sidebar */
.sec-sidebar {
    float: right;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sec-sidebar .widget {
    padding: 10px 10px 20px 10px;
}

.sec-sidebar .widget a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.sec-sidebar .widget h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.sec-sidebar .widget ul {
    padding: 0;
    list-style-type: none;
}

.sec-sidebar .widget ul li a {
    padding-left: 0;
}

/* Footer */
.footer {
    float: left;
    padding: 20px 0;
    width: 100%;
    margin-top: 10px;
}

.footer span {
    text-transform: uppercase;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer img {
    max-width: 100%;
    height: auto;
}

.footer .social li {
    display: inline-block;
    padding-left: .5em;
    font-size: 16px;
}

/* Contatti */
.contatti ul {
    padding: 0;
}

.contatti .social li {
    display: inline-block;
    padding-left: .5em;
    font-size: 16px;
}

.contatti strong {
    color: #a56a4c;
}

.contatti input, .contatti textarea {
    margin-right: 10px;
    padding: 10px;
    background: transparent;
    border: 1px solid #a49381;
}

.contatti input[type="submit"] {
    background: #a49381;
    color: #fff;
    border: none;
}

/* General */
.row {
    margin: 0;
    padding: 40px 0;
}

.panel {
    background: #eee;
}

.sticky {
    border-right: 3px solid #eee;
    border-bottom: 3px solid #eee
}

.wp-caption {
    border: 1px solid #eee;
    text-align: center;
    padding: 10px;
}

.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
    width: 100% !important;
    height: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 1em;
    line-height: 17px;
    padding: 8px;
    margin: 0;
}

/* only in home caption full width */
.cont-grid .wp-caption {
    max-width: 100%;
    width: 100% !important;
    height: auto;
}

.alignleft {
    float: left;
    margin-right: 20px;
}

.alignright {
    float: right;
    margin-left: 20px;
}

.aligncenter {
    margin: 0 auto;
    display: block
}

#s {
    width: 100%
}

#searchsubmit {
    background-color: #333;
    color: #fff
}

/* Search */
.result {
    margin-left: 5px;
    text-transform: uppercase;
}

#srch-term {
    border: none;
    background: none;
    box-shadow: none;
}

.search-cont {
    padding: 0;
}

.btn-default {
    border: none;
    background: none;
}

/**************************
Media Query Breakpoints
***************************/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 374px) {
    .navbar-brand {
        width: auto;
    }

    blocco.home {
        max-height: 344px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .mobile-view {
        width: 100%;
    }

    .swiper-container, .one_image {
        height: 360px;
    }

    h1 {
        font-size: 25px;
    }

    .blocco {
        padding: 10px 0 0 0;
    }

    .blocco .col-xs-3, .blocco .col-xs-6, .blocco .col-xs-9, .blocco .col-xs-12 {
        padding: 0 5px;
    }

    .blocco .img_small_down, blocco .img_small_left {
        margin-top: 10px;
    }

    .blocco p {
        line-height: 18px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

    .swiper-slide .row {
        padding-bottom: 20px;
    }

    .swiper-filter {
        height: 100px;
    }

    .desktop-view {
        display: block;
    }

    .desktop-view .navbar-collapse.collapse {
        display: none !important;
    }

    .desktop-main-menu {
        padding-right: 70px;
    }

    .desktop-main-menu li a {
        padding-left: 10px;
        padding-right: 7px;
    }

    .mobile-view {
        display: none;
    }

    .navbar-header {
        width: 40%;
    }

    .navbar-brand {
        padding: 0 20px 0 0;
        line-height: 65px;
        width: 70%;
    }

    .swiper-slide .container {
        background: transparent;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: -375px;
        color: #fff;
        margin-left: 50%;
    }

    .swiper-container, .one_image {
        height: 460px;
    }

    .navbar-toggle {
        display: block;
    }

    /* Modelli layout (blocchi griglia) */
    /* home page */
    .blocco .img_big_vertical {
        max-height: 587px;
        overflow: hidden;
    }

    .blocco .img_big_orizzontal {
        max-height: 350px;
        overflow: hidden;
    }

    .blocco .txt2_h {
        height: 248px;
    }

    .blocco .txt3_h {
        height: 227px;
    }

    blocco.azienda .txt1_h {
        height: 113px;
        padding: 0px 20px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    /* Modelli layout (blocchi griglia) */
    h1 {
        font-size: 26px;
    }

    .navbar-header {
        width: auto;
    }

    .navbar-brand {
        width: auto;
    }

    .desktop-main-menu {
        padding-right: 80px;
    }

    .desktop-main-menu li a {
        padding: 10px 15px;
        line-height: 45px;
    }

    /* home page */
    .swiper-slide .container {
        background: transparent;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: -485px;
        color: #fff;
        margin-left: 50%;
    }

    .swiper-container, .one_image {
        height: 560px;
    }

    .blocco.home {
        overflow: hidden;
        max-height: 420px;
    }

    .blocco .txt1_h {
        height: 143px;
    }

    .blocco .txt3_h {
        height: 146px;
    }

    .blocco .img_big_orizzontal {
        max-height: 254px;
        overflow: hidden;
    }

    .blocco .txt2_h {
        height: 410px;
    }

    .blocco.azienda .txt1_h {
        height: 150px;
        padding: 0px 70px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    /* Modelli layout (blocchi griglia) */
    h1 {
        font-size: 30px;
    }

    .swiper-slide .container {
        background: transparent;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: -585px;
        color: #fff;
        margin-left: 50%;
    }

    .blocco.home {
        max-height: 511px;
    }

    .blocco .col-xs-6, .blocco .col-xs-12 {
        padding: 0 5px;
    }

    .blocco h1 {
        margin-top: 0;
    }

    .blocco .txt {
        padding: 10px 20px;
    }

    .blocco .img_small_down, blocco .img_small_left {
        margin-top: 10px;
    }

    .blocco img {
        width: 100%;
        height: auto;
    }

    .blocco .txt1_h {
        height: 177px;
    }

    .blocco .txt2_h {
        height: 501px;
    }

    .blocco .txt3_h {
        height: 182px;
    }

    .blocco .img_big_orizzontal {
        max-height: 309px;
        overflow: hidden;
    }

    .blocco.azienda .txt1_h {
        height: 183px;
    }

}

/* Clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */


